html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    /*background-color: #b90010;*/
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*.form-signin input[type="password"] {*/
#password, #firstName, #lastName, #email{
    margin-bottom: 10px;
    border-radius: 3px;
}
/*}#platform{*/
       /*margin-bottom: 20px;*/
       /*padding-top: 10%;*/
       /*padding-bottom: 10%;*/
       /*border-top-left-radius: 0;*/
       /*border-top-right-radius: 0;*/
/*}*/
#table {
        margin-bottom: 20px;
        padding-top: 10%;
        padding-bottom: 10%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
}

#formControlSelect{
    /*margin-bottom:10px ;*/
    /*margin-top: 10px;*/
    /*width: 30%;*/
    /*margin: auto;*/
    height: auto;
}
