﻿<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/css/articles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="/css/cover.css" rel="stylesheet">

    <title>Sign in</title>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>
<div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                    Статья
                </h3>
                <div class="blog-post">
                    <h2 class="blog-post-title" th:text="${article.getTitle()}"></h2>
                    <p class="blog-post-meta" th:text="${article.getTitle()}"></p>
                    <hr>
                    <blockquote>
                        <p th:text="${article.getDescription()}"> </p>
                    </blockquote>
                </div>
            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </main>
</body>
</html>