<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Статьи</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="/css/cover.css" rel="stylesheet">

    <style>
        .black {
            color: #000;
        }
    </style>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>
<div class="container">
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Статьи</h5>
            <br>
            <div class="row">
                <th:block th:each="article : ${article}">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title black" th:text="${article.getTitle()}"></h4>
                                        <a class="header black" th:href="@{'/article/' + ${article.getId()}}">Читать полностью...</a>
                                    <p class="card-text black" th:text="${article.getUser().getFirstName()}"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <p class="card-text black" th:text="${article.getDescription()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                </th:block>
            </div>
        </div>
    </section>
</div>
</body>
<!-- Team -->