<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Greeting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="/css/cover.css" rel="stylesheet">

    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<div th:include="fragments/header :: navbar"></div>
<div id = "menu1">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
       href="/addArticle" role="tab" aria-controls="v-pills-home" aria-selected="true">Добавить статью</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
       href="/myArticles" role="tab" aria-controls="v-pills-profile" aria-selected="false">Мои статьи</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
       href="/logout" role="tab" aria-controls="v-pills-messages" aria-selected="false">Выйти</a>
</div>
</div>
<main role="main" class="container">
    <h1 class="mt-5">Добро пожаловать!</h1>
    <p class="lead">Рады Вас видеть, <span th:text ="${#authentication.getPrincipal().getUser().getFirstName()}"></span>
    </p>
</main>
</body>
</html>