﻿<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html;charset=windows-1251" />

    <title>Registration</title>
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">
<div th:include="fragments/header :: navbar"></div>

<form class="form-signin" action="/registration" method="post">

    <div class="text-center mb-4">
            <th:block th:each="error : ${error}">
                <div th:text="${error}"></div>
            </th:block>
    </div>
    <input type=text name="firstName" id="firstName" class="form-control" placeholder="Имя" required autofocus>

    <input type=text  name="lastName" id="lastName" class="form-control" placeholder="Фамилия" required>

    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>

    <input type="password" name="password" id="password" class="form-control" placeholder="Пароль" required>

    <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
</form>

</body>
</html>